/* .form-signin{
    width: 300px;
   
  margin:  10% auto;
}

.form-control{
    outline: none;
}

.btn-secondary{
    background-color: #565e64;
}

.btn-secondary:hover{
    background-color: #000;
}


@media only screen and (max-width: 600px) {
    .btn-secondary{
        background-color: #000;
    }

    .text-secondary h6{
        color: #000;
    }

}

@media only screen and (min-width: 600px){
    .form-signin{
        width: 50%;
        margin-top: 0;
    }
}

.form-control:focus {
    border-color: #000;
    box-shadow: 0 0 0 0.1rem rgba(1, 7, 2, 0.534);
} 

.fw-normal{
    font-family: 'Italianno', cursive;
    font-size: 48px;
    font-weight: 100px;
}

.text-secondary{
    text-decoration: none;
}
.text-secondary h6:hover{
    color: #000;
}
 */
 .signin-card{
    margin: 90px auto  0 auto;
     
 }
 

.b-color{
    background-color:  rgba(0, 0, 0, 0.897);
    color: #fff;
}



@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{ 
    .b-color {
        background-color:  rgba(0, 0, 0, 0.897);
        color: #fff;
    }
}  
