/* 
.personal-details {
    padding-top: 5%;
    width: 70%;
    margin: 0 auto 50px auto;

  
}
.personal-details-container{
    animation-name: edit-details-animation;
    animation-duration: 1s;
    
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.user-dogs{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.update-form-container{
    width: 50%;
   color: #fff;
}

.details-button{
    display: block;
 }
 
 
 .edit-buttons{
     display: flex;
     align-items: center;
    
 }
 .cancel{
    margin-left: 40px;
 }

 .sell-and-signOut-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

@keyframes edit-details-animation {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}


@media only screen and (max-width: 800px){
    .update-form-container{
        width: 70%;
     
    }
    
    .personal-details {
        padding: 13% 0% 0% 7%;
       
     }
    }      */


/* .p-4{
    padding: 20%;
} */

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{ 
    .b-color {
        background-color:  rgba(0, 0, 0, 0.897);
        color: #fff;
    }

    .user-dogs{
        width: 90%;
        margin: 0 auto;
    }
}  

@media only screen   
and (max-device-width : 800px)  {
    .user-dogs{
        width: 90%;
        margin: 0 auto;
    }
}
