/* .sign-out-container{
padding: 20% 30% 20% 30%;
display: flex;
justify-content: center;
text-align: center;
   
}


@media only screen and (max-width: 600px){
    .homepage-container{
        padding: 30% 30% 20% 30%;
       
           
        }
        
} */
